<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first">
      </ion-menu-button>
      </ion-buttons>
    <ion-title>แผนที่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div #map id="map"></div>
</ion-content>
